<web-app>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.shopping.in.EmployeRegister</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/employregister</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>secound</servlet-name>
<servlet-class>com.shopping.in.CustomerRegister</servlet-class>
 </servlet>

<servlet-mapping>
<servlet-name>secound</servlet-name>
<url-pattern>/customerregister</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>thord</servlet-name>
<servlet-class>com.shopping.in.EmpolyeLogin</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>thord</servlet-name>
<url-pattern>/employlogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>forth</servlet-name>
<servlet-class>com.shopping.in.CustomerLogin</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>forth</servlet-name>
<url-pattern>/customerlogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>fifth</servlet-name>
<servlet-class>com.shopping.in.EmployeProfile</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>fifth</servlet-name>
<url-pattern>/employeprofile</url-pattern>
</servlet-mapping>



</web-app>